.border{
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}
.mt-1 {
    margin-top: 5px;
}
.mt-2 {
    margin-top: 12px;
}
.mt-3 {
    margin-top: 17px;
}
.ml-1 {
    margin-left: 5px;
}
.ml-2 {
    margin-left: 12px;
}
.mr-1 {
    margin-right: 5px;
}
.mr-2 {
    margin-right: 12px;
}
.p-1 {
    padding: 10px;
}